<div class="drop_contain" id="chicago">
    <div class="pizza_drop">
        <h2>Chicago Pizzas</h2>
        <div class="title_contain">
            <h3>Da Bear</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each DaBear}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="pizza_drop">
        <div class="title_contain">
            <h3>Moes Veggie Love</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each MoesVeggieLove}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="pizza_drop">
        <div class="title_contain">
            <h3>The Big Cheese</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each TheBigCheese}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <a href="javascript:void(0)" class="order_button">Order Now</a>
</div>
<!--end Chicago-->
<div class="drop_contain" id="newyork">
    <div class="pizza_drop">
        <h2>New York Pizzas</h2>
        <div class="title_contain">
            <h3>Yo Mama</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each YoMama}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="pizza_drop">
        <div class="title_contain">
            <h3>Wheres Da Meat</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each WheresDaMeat}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="pizza_drop">
        <div class="title_contain">
            <h3>Cheesey Charles</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each CheeseyCharles}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <a href="javascript:void(0)" class="order_button">Order Now</a>
</div>
<!--end New York-->
<div class="drop_contain" id="sanfran">
    <div class="pizza_drop">
        <h2>San Fransisco Pizzas</h2>
        <div class="title_contain">
            <h3>Bay BBQ</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each YoMama}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="pizza_drop">
        <div class="title_contain">
            <h3>Napa Garden</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each NapaGarden}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="pizza_drop">
        <div class="title_contain">
            <h3>The Big Cheese</h3>
        </div>
        <ul class="list_contain">
            <h3 class="top">Toppings:</h3>
            {{#each TheBigCheese}}
                <li>
                    <h3>{{this}}</h3>
                </li>
            {{/each}}
        </ul>
    </div>
    <a href="javascript:void(0)" class="order_button">Order Now</a>
</div>
<div class="drop_contain" id="contact">
    <div class="pizza_drop">
        <form>
            <h2>Contact Us</h2>
            <input type="text" placeholder="Name *" />
            <input type="email" placeholder="Email *" />
            <input type="text" placeholder="Phone" />
            <input type="textarea" placeholder="Message *" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
